{% extends 'print/base_form.html' %}
{% block content %}
{% for hh in households %}{% with cg=hh.cg a=hh.assessment %}
<div class="sheet">
  {% include 'print/_gov.html' %}
  <div class="ftitle">CW 09: Assessment, Planning and Contracting</div>
  <table class="nb">
    <tr><td class="nb" style="width:50%;"><span class="lbl">File Number:</span> {{ hh.org_household_number }}</td>
        <td class="nb"><span class="lbl">Social Worker:</span> {{ a.created_by|default:user.get_full_name|default:user.username }}</td></tr>
  </table>
  <h2 class="sec">Part 1: Client(s) Name and ID</h2>
  <table>
    <tr><th style="width:25%;">Primary Client Surname</th><td style="width:25%;">{{ cg.surname }}</td>
        <th style="width:25%;">Primary Client First name</th><td style="width:25%;">{{ cg.name }}</td></tr>
    <tr><th>Primary Client ID Number / Date of Birth</th><td colspan="3">{{ cg.id_number }}{% if cg.date_of_birth %} / {{ cg.date_of_birth|date:"Y-m-d" }}{% endif %}</td></tr>
  </table>
  <h2 class="sec">Part 3: Assessment Findings</h2>
  <h3 class="sub">Part 3.1: Overview of the situation of the client(s)</h3>
  <div class="ans" style="min-height:44px;">{{ a.overview_situation|linebreaksbr }}</div>
  <h3 class="sub">Part 3.2: Strengths and problem solving</h3>
  <div class="ans" style="min-height:44px;">{{ a.strengths|linebreaksbr }}</div>
  <h3 class="sub">Part 3.3: Psychosocial issues</h3>
  <div class="q">3.3.1 Social relations, integration and functioning in daily life.</div>
  <div class="ans" style="min-height:36px;">{{ a.psychosocial_social|linebreaksbr }}</div>
  <div class="q">3.3.2 Sources of stress, emotional and behaviour problems.</div>
  <div class="ans" style="min-height:36px;">{{ a.psychosocial_stress|linebreaksbr }}</div>
  <h3 class="sub">Part 3.4: Education</h3>
  <div class="ans" style="min-height:36px;">{{ a.education|linebreaksbr }}</div>
</div>

<div class="sheet">
  <div class="conf">CW 09: ASSESSMENT, PLANNING AND CONTRACTING</div>
  <h3 class="sub">Part 3.5: Safety and security</h3>
  <div class="ans" style="min-height:40px;">{{ a.safety|linebreaksbr }}</div>
  <h3 class="sub">Part 3.6: Health and Nutrition</h3>
  <div class="ans" style="min-height:40px;">{{ a.health_nutrition|linebreaksbr }}</div>
  <h3 class="sub">Part 3.7: Economic issues, basic needs and legal needs</h3>
  <div class="ans" style="min-height:40px;">{{ a.economic_legal|linebreaksbr }}</div>
  <h3 class="sub">Part 3.8: Assessment summary</h3>
  <div class="ans" style="min-height:44px;">{{ a.assessment_summary|linebreaksbr }}</div>
  <div class="half">
    <div><span class="lbl">Problem codes</span><div class="ans" style="min-height:20px;">{{ a.problem_codes }}</div></div>
    <div><span class="lbl">Risk level</span>
      <div class="fld">
        <span class="chk">{% if a.risk_level == 'Emergency' %}X{% endif %}</span>Emergency (24-48 hrs)
        <span class="chk">{% if a.risk_level == 'High' %}X{% endif %}</span>High (1 week)
        <span class="chk">{% if a.risk_level == 'Mild' %}X{% endif %}</span>Mild (2-3 weeks)</div>
    </div>
  </div>
  <h2 class="sec">Part 4: Planning and Contracting &mdash; Plan of Action</h2>
  <div class="q">Overall goal of the intervention (include estimated time to achieve).</div>
  <div class="ans" style="min-height:30px;">{{ a.overall_goal|linebreaksbr }}</div>
  <div class="q">Views of the client(s).</div>
  <div class="ans" style="min-height:30px;">{{ a.client_views|linebreaksbr }}</div>
  <table>
    <tr><th>Issues to be addressed</th><th>Planned intervention &amp; intervention codes</th><th style="width:15%;">Due date</th><th style="width:22%;">Responsibility</th></tr>
    {% for r in a.plan_rows %}
    <tr><td>{{ r.issue }}</td><td>{{ r.intervention }}</td><td>{{ r.due_date }}</td><td>{{ r.responsibility }}</td></tr>
    {% endfor %}
    <tr><td>&nbsp;</td><td></td><td></td><td></td></tr>
  </table>
  <div class="fld"><span class="lbl">Due Date for Evaluation:</span> {{ a.due_date_evaluation|date:"Y-m-d" }}</div>

  <h2 class="sec">Part 5: Contracting Signature Block</h2>
  <table>
    <tr><th>Client(s) / caregiver Name</th><td>{{ cg.name }} {{ cg.surname }}</td><th>Signature / thumbprint</th><td>&nbsp;</td><th>Date</th><td></td></tr>
    <tr><th>Social worker Name</th><td>{{ a.created_by|default:user.get_full_name|default:user.username }}</td><th>Signature</th><td>&nbsp;</td><th>SACSSP / Date</th><td></td></tr>
  </table>
  <div class="fld"><span class="lbl">Supervisor review:</span> <span class="chk"></span>Approve without amendments <span class="chk"></span>Approve with amendments</div>
</div>
{% endwith %}{% endfor %}
{% endblock %}
