{% extends 'print/base_form.html' %}
{% block content %}
{% for hh in households %}{% with cg=hh.cg %}
<div class="sheet">
  {% include 'print/_gov.html' %}
  <div class="ftitle">HIV Risk Assessment Form</div>
  <table>
    <tr><th style="width:26%;">Organisation/Service Point</th><td>{{ org_name }}</td>
        <th style="width:20%;">Date of assessment</th><td></td></tr>
    <tr><th>Parent's/Legal Guardian/Caregiver Full Name</th><td>{{ cg.name }} {{ cg.surname }}</td>
        <th>Contact Details</th><td>{{ cg.cell_number }}</td></tr>
    <tr><th>Child's Full Name</th><td></td><th>Child's ID Number/Date of Birth</th><td></td></tr>
    <tr><th>Gender</th><td><span class="chk"></span>Male <span class="chk"></span>Female</td>
        <th>Disability? Y/N</th><td></td></tr>
  </table>
  <h2 class="sec">Part 1: HIV Screening</h2>
  <div class="fld">Is the child's HIV status known? <span class="chk"></span>Yes <span class="chk"></span>No</div>
  <div class="fld">What is the status?
    <span class="chk"></span>Positive Status <span class="chk"></span>Negative Status <span class="chk"></span>Unknown Status</div>
  <p class="muted">If NEGATIVE: determine when the test was conducted. If more than 6 months ago and child is over 13 and sexually active, proceed with risk assessment (Part 2). If tested within last 6 months, HIV test NOT needed.</p>
  <h2 class="sec">Part 2: Risk Indicators &mdash; Circumstantial (Parental/Family)</h2>
  <table>
    <tr><th>Indicator</th><th style="width:8%;">Yes</th><th style="width:8%;">No</th></tr>
    <tr><td>Are either of the child's biological parents reported to be HIV positive?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Is one or both parents deceased due to a known HIV related illness?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Does the child have one or more siblings that are deceased?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Is there any member of the household that is addicted to substances?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Has there been incidents of domestic violence in the family?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
  </table>
  <p class="muted">If YES to any of the above, the CHILD IS AT RISK of HIV and supportive referral for TESTING IS ADVISED (obtain consent prior to referral).</p>
</div>

<div class="sheet">
  <div class="conf">HIV RISK ASSESSMENT FORM</div>
  <h2 class="sec">Health Indicators</h2>
  <table>
    <tr><th>Indicator</th><th style="width:8%;">Yes</th><th style="width:8%;">No</th></tr>
    <tr><td>Does the child get sick often or has he/she been sick for more than three weeks at a time?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Is the child small and/or underweight for his/her age?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Has the child been diagnosed with TB?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Has the child been admitted to hospital in the past six months?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
  </table>
  <h2 class="sec">Behavioral Indicators</h2>
  <table>
    <tr><th>Indicator</th><th style="width:8%;">Yes</th><th style="width:8%;">No</th></tr>
    <tr><td>Do you suspect that the child may have been exposed to sexual violence?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
    <tr><td>Do you know if the child has been sexually abused?</td><td style="text-align:center;"><span class="chk"></span></td><td style="text-align:center;"><span class="chk"></span></td></tr>
  </table>
  <h2 class="sec">Part 3: Assessment Result and Action</h2>
  <div class="fld"><span class="lbl">Outcome:</span>
    <span class="chk"></span>Test Required <span class="chk"></span>Test Not Required
    <span class="chk"></span>Routine testing every six months required</div>
  <div class="fld">Child Referred for HIV Testing (indicate health facility): __________________________</div>
  <div class="fld"><span class="lbl">Date for Follow-up:</span> ______________</div>
  <table style="margin-top:10px;">
    <tr><th>SSP Name and Surname</th><th>Signature</th><th>SACSSP Number</th><th>Date</th></tr>
    <tr><td>{{ user.get_full_name|default:user.username }}</td><td>&nbsp;</td><td></td><td></td></tr>
  </table>
</div>
{% endwith %}{% endfor %}
{% endblock %}
