{% extends 'print/base_form.html' %}
{% block content %}
{% for hh in households %}{% with cg=hh.cg %}
<div class="sheet">
  <div class="orghead">{% if org_logo %}<img class="logo" src="{{ org_logo }}">{% endif %}<div class="on">{{ org_name }}</div><div>Site Visit Form</div></div>
  <table class="nb">
    <tr><td class="nb"><span class="lbl">Name of care giver:</span> {{ cg.name }} {{ cg.surname }}</td>
        <td class="nb"><span class="lbl">Family:</span> {{ cg.surname }} ({{ hh.org_household_number }})</td>
        <td class="nb"><span class="lbl">Date visited:</span> ______________</td></tr>
  </table>
  <h3 class="sub">Purpose of the visit</h3>
  <div class="ans" style="min-height:70px;"></div>
  <h3 class="sub">Planned actions</h3>
  <div class="ans" style="min-height:70px;"></div>
  <h3 class="sub">Achievements</h3>
  <div class="ans" style="min-height:70px;"></div>
  <div class="sigrow">
    <div><div class="sigline">Client signature &amp; Date</div></div>
    <div><div class="sigline">Caregiver's signature &amp; Date</div></div>
  </div>
</div>
{% endwith %}{% endfor %}
{% endblock %}
